Scrape the Data

In [1]:
import GS2 as gs
import pandas as pd

In [2]:
path='C:/Users/sohmt/Documents/ds_salary_proj/chromedriver'

In [4]:
df=gs.get_jobs('data scientist', 15, False, path, 1)

&&& job butons:30
Progress: 0/15
Progress: 1/15
Progress: 2/15
Progress: 3/15
Progress: 4/15
Progress: 5/15
Progress: 6/15
Progress: 7/15
Progress: 8/15
Progress: 9/15
Progress: 10/15
Progress: 11/15
Progress: 12/15
Progress: 13/15
Progress: 14/15
Progress: 15/15

In [5]:
df

,Job Title,Salary Estimate,Job Description,Company Name,Rating,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,Employer Provided Salary:$150K,We are adding a Data Scientist to our growing ...,American Capital Group,4.3,"Bellevue, WA",51 to 200 Employees,1986,Company - Private,Real Estate,Real Estate,Unknown / Non-Applicable
1,Geospatial Data Scientist,Employer Provided Salary:$145K - $175K,Geospatial Data Scientist\nGeospatial Data Sci...,EpochGeo,-1,"Reston, VA",-1,-1,-1,-1,-1,-1
2,Senior Data Scientist,Employer Provided Salary:$50 - $90 Per Hour,MetLife Legal Plans is the leading consumer le...,MetLife Legal Plans,-1,Remote,-1,-1,-1,-1,-1,-1
3,GBSD Principal Data Scientist – 5066,Employer Provided Salary:$96K - $144K,Requisition ID: 21013422\nCategory: Research a...,Northrop Grumman,4.0,"Roy, UT",10000+ Employees,1939,Company - Public,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD)
4,Data Scientist Associate-CXI,$51K - $98K (Glassdoor est.),"Data Scientist Associate-CXI\nLong Beach, CA\n...",SCAN Health Plan,3.7,,1001 to 5000 Employees,1977,Nonprofit Organization,Insurance Carriers,Insurance,$2 to $5 billion (USD)
5,Data Scientist,Employer Provided Salary:$80K - $100K,Come join a growing financial technology compa...,"Continental Finance Company, LLC",4.0,"Wilmington, DE",51 to 200 Employees,2005,Company - Private,Lending,Finance,$5 to $10 million (USD)
6,Data Scientist and Software Developer,Employer Provided Salary:$80K - $100K,Check out this unique opportunity with a Digit...,AQUASIGHT LLC,-1,"Troy, MI",-1,-1,-1,-1,-1,-1
7,Data Scientist/ Engineer,-1,About Us:\nDermacare LLC (DBA BlueChew) is on ...,BlueChew,-1,"Chicago, IL",-1,-1,-1,-1,-1,-1
8,Data Scientist,$63K - $121K (Glassdoor est.),About the Role:\nThe position creates new foot...,Cyient,3.3,"Phoenix, AZ",10000+ Employees,1991,Company - Public,IT Services,Information Technology,$100 to $500 million (USD)
9,Senior Data Scientist [WFH],Employer Provided Salary:$100K - $150K,The Hyphen team is looking for a Senior Data S...,Hyphen,-1,Remote,-1,-1,-1,-1,-1,-1
10,Data Scientist,-1,"At Density, we build one of the most advanced ...",Density Inc.,4.8,Remote,1 to 50 Employees,2014,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
11,Data Scientist,Employer Provided Salary:$50K - $250K,Data Scientist\nClearance: None Required\nType...,Praescient Analytics,3.4,"Washington, DC",51 to 200 Employees,2011,Company - Private,Consulting,Business Services,$10 to $25 million (USD)
12,Data Scientist,$83K - $156K (Glassdoor est.),Trimble is recruiting for a Data Scientist to ...,Trimble,4.1,"Westminster, CO",10000+ Employees,1978,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD)
13,Sr. Data Scientist,$64K - $134K (Glassdoor est.),The Intersect Group is seeking a Sr. Data Scie...,The Intersect Group,4.0,"Anderson, SC",501 to 1000 Employees,2006,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD)
14,"Data Scientist, Product",Employer Provided Salary:$130K - $140K,"ABOUT YOU\nAre you an analytical, data-driven ...",Ancera,-1,"Atlanta, GA",-1,-1,-1,-1,-1,-1